.head{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    height: 15vh;
    background-color: rgb(193, 245, 228);
}
.logo{
    width: 50%;
    display: flex;
    text-decoration: underline;
    gap: 50px;
}
.navi, ul, li, a{
    color: black;
    /* width: 50%; */
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: space-around; */
    list-style: none;
    text-decoration: none;
    align-items: center;
}
h1, a{
    color: black;
    align-items: center;
}
.navi{
    font-size: 150%;
}

/* update */
* {
    /* outline: 1px solid red; */
}

.logo {
    display: flex;
    gap: 0;
    align-items: center;
}

.navi {
    display: flex;
}

ul {
    display: flex;
    gap: 2rem;
}
